thead {
  border: 2px solid black;
  background-color: rgb(24, 23, 23);
  color: white;
}
tr:nth-child(even) {
  color: black;
  background-color: rgb(98, 97, 97);
}
table {
  width: 600px;
  margin-top: 40px;
}
